/*
# SPDX-License-Identifier: AGPL-3.0-or-later
*/

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 20px;
  color: #368ee9;
}

.text{
  text-align: center;
  padding: 20px;
}

body {
  margin: 0;
  font-family: Arial;
}

.grid-container {
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  background-color: #f4f4f4;
}

.grid-item {
  width: 100%;  
}

@media only screen and (max-width: 600px) {
  .grid-container{
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  }
}

@media only screen and (max-width: 1000px) {
  .grid-container{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 2% auto;
  max-width: 80%;
  padding: 0 2%;
}

.column {
  width: 45%;
}

.list-container {
  height: 40vh;
  overflow-y: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}

li {
  margin: 0.5rem 0;
  cursor: pointer;
}

.selected {
  background-color: #007bff;
  color: #fff;
}

.comparison-graph {
  display: block;
  margin: 4rem auto;
  max-width: 100%;
}
